/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.10.2018, 13:59:02
    Author     : tommib
*/

.comment{
    font-family: Open Sans; 
    font-size: 15px;
    background-color: rgba(88 ,139 ,174 , 0.5);  
    width: 405px;
    padding: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.comment-input:focus {
    border-color:#6e8095;
    outline: none;
}
.comment-input {
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.comment-button {
    width: 30%;
    height: 25px;
    padding: 0;
    margin-top: 22px;
    margin-bottom: 22px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
}
.time-left {
    float: left;
    color: #999;
}