/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9.11.2018, 15:14:13
    Author     : tommib
*/

body {
    background-image: url("login.jpg");
}
.loginForm{
    margin-right: auto;
    margin-left: auto;
    font-family: Open Sans; 
}
.picture{
    background: transparent url(flake.png);
}